#method {
    transition: background-color 0.3s ease;
}

.method_dropdown {
    display: none;
    z-index: 1;
}

.method_item {
    transition: background-color 0.3s ease;
}

#method:hover + .method_dropdown,
.method_dropdown:hover {
    display: block;
}

.method_item.active {
    background-color: rgb(20 184 166);
}
